{% extends "base.html" %}

{% block title_name %}Home{% endblock %}

{% block content %}
    <br/>
    <h1 align="center">Pages</h1>


    <ul class="list-group list-group-flush" id="pages">
        {% if user.pages|length > 0 %}
            {% if sortStatus == "UP" %}
                <form method="POST">
                    <button type="button" class="btn btn-primary sortButton" onClick="sortPage('DOWN')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up"
                                viewBox="0 0 16 16">
                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"></path>
                        </svg>
                        Sort
                    </button>
                </form>
                <br/>
                {% for page in user.pages|reverse %}
                    <li class="list-group-item">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ page.data }}</p>
                            <button type="button" class="close" onClick="deletePage({{ page.id }})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <footer class="blockquote-footer">{{ page.date }}</footer>
                        </blockquote>
                    </li>
                {% endfor %}
            {% else %}
                <form method="POST">
                    <button type="button" class="btn btn-primary sortButton" onClick="sortPage('UP')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down"
                             viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"></path>
                        </svg>
                        Sort
                    </button>
                </form>
                <br/>
                {% for page in user.pages %}
                    <li class="list-group-item">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ page.data }}</p>
                            <button type="button" class="close" onClick="deletePage({{ page.id }})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <footer class="blockquote-footer">{{ page.date }}</footer>
                        </blockquote>
                    </li>
                {% endfor %}
            {% endif %}
        {% else %}
            <br/><br/>
            <p class="text-center">You don't have any page for read.</p>
            <br/><br/>
        {% endif %}
    </ul>


    <form method="POST">
        <textarea name="page" id="page" class="form-control"></textarea>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Page</button>
        </div>
    </form>
{% endblock %}